html, body {
  width: 100%;
  height: 100%;
  background: #0D0D0D;
  overflow: hidden;
}

.button {
  position: relative;
  background-color: white;
  border: none;
  font-size: 15px;
  color: black;
  height: 40px;
  width: 120px;
  text-align: center;
  transition-duration: 0.2s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin-bottom:20px;
  font-weight: 100;
}

.button:hover{
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

#content_container {
  width: 30%;
  height: 400px;
  margin-top: 50px;
}

#form_container {
  width: 100%;
  height: 100%;

  background-color: #370617;
  box-shadow: 0 0 50px -20px #000;
  border-radius: 2%;

  overflow: hidden;
}

#form_header_container {
  width: 100%;
  height: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
  float: left;

  padding: 20px;
  padding-bottom: 30px;
  padding-top: 30px;

  border-bottom: 1px solid transparent;
  border-image: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF) 20;
  background: white;
}

#form_header {
  display: inline-block;
  font-size: 20px;
  font-family: Bowlby One SC;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#form_content_container {
  width: 100%;
  height: 90%;

  float: left;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
}

#form_content_inner_container {
  width: 75%;
  height: 100%;

  float: left;

}

input {
  width: 100%;
  height: 40px;

  padding-left: 10px;
  margin-bottom: 20px;

  background: #000;
  font-family: Montserrat;
  font-weight: 500;
  color: #fff;
  font-size: 12px;

  border-bottom: 2px solid transparent;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  border-image: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF) 1;
}

#button_container {
  width: 100%;
  height: 20%;
  margin-left: 0px;
  border-radius: 10px;
  background-color: greenyellow;
  color: black;


}

#button_container button {
  width: 100%;
  height: 100%;

  background: transparent;
  color: inherit;

  font-family: Montserrat;
  font-weight: 900;
  font-size: 25px;

  cursor: pointer;
  text-align: center;
}