.button {
    position: relative;
    background-color: blue;
    border: none;
    font-size: 25px;
    color: #FFFFFF;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-bottom:100px;
    font-weight: 900;
  }
  
  .button:hover{
    background-color: white;
    color: black;
  }

.footer{
  font-family: 'Courier New', Courier, monospace;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

html{
  scroll-behavior: smooth;
}